{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Set your mood</title>
</head>
<body>
{% block content %}
<h1>Status: {{ mood }}</h1>
  <form method="POST" action="">
      {% csrf_token %}
      <table>{{ form2 }}</table>
      <input type="submit" value="Submit"  />
  </form><br /><br />
{% endblock content %}
</body>
</html>
